@import './variables.scss';

.main {
  background-color: $dark-main-color;
  font-family: 'Inter' sans-serif;
  color: $light-sea-blue;
  height: 100%;
  width: 100%;
  position: fixed;
}

.container {
    display: flex;
}

.menuContainer {
    width: 240px;
    padding: 5px 20px;
    background: $medium-dark-gray;
    border-right: solid gray;
    border-width: 0.1px;
    height: 100vh;
}

.contentContainer {
    padding: 5px 20px;
    width: 100%;
}