$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
$light-sea-blue: #6ea8fe;
$dark-main-color: #212529;
$medium-dark-gray: #2b3035;
$light-gray-broun: #3C3D37;
$red-error: #dc3545;
$gree-valid: #198754;
$grau-default: #95999d;

// SCSS Variables for Colors
$background-color: #f9f9f9; // Sidebar background
$border-color: #e0e0e0; // Sidebar border
$text-color-primary: #333; // Primary text color (logo, menu items)
$text-color-secondary: #666; // Secondary text color (version text)
$text-color-tertiary: #999; // Section title color
$hover-background-color: #e8f4fc; // Menu item hover background
$badge-background-color: #ff5c5c; // Badge background
$badge-text-color: white; // Badge text color

