@import './../../styles/variables.scss';
.navbar {
   width: 100%; 
   padding: 15px;
   display: flex;
   align-items: center; 
   justify-content: space-between;
   box-shadow: 20px 20px 20px $medium-dark-gray;

   .logo{
    align-items: center;
    display: flex;
    font-weight: bold;
    gap: 10px;
      
    span {
        color: white;
        font-size: 20px;
     }
   }

   .login {
      display: flex;
      background-color: $soft-bg;
      padding: 8px;
      width: 80px;
      margin-right: 80px;
      justify-content: center;
      border-radius: 10px;
      color: $soft-color;
      &:hover {
         background-color: #2f3337;
      }
   }
}