@import './../../styles/variables.scss';
.navbar {
   width: 100% ;
   height: 50px;
   display: flex;
   align-items: center; 
   justify-content: space-between;
   box-shadow: 20px 20px 20px $medium-dark-gray;
   padding: 0px 15px; 
   .logo{
    align-items: center;
    display: flex;
    font-weight: bold;
    gap: 10px;
      
    span {
        color: white;
        font-size: 20px;
     }
   }

   .nav-profile-box {
     display: flex;
     width: 200px;
     height: 100%;
     margin-right: 20px;
     align-items: center;
     gap: 10px;
     justify-content: center;

     .profile-photo {
      width: 40px;
      height: 40px;
      background-color: beige;
      border-radius: 100%;
     }

     .profile-name {
       color: white
     } 
   }
}